################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SonarQubeTest/SonarQubeTest/.vs/SonarQubeTest
/SonarQubeTest/SonarQubeTest/SonarQubeTest/obj
